
@model List<Product>

    <div class="table-responsive">
        <form method="post">
            <div class="row">
                <select name="IdCategory" asp-items="ViewBag.Cat" required="required">
                    <option select disabled>یک مورد را انتخاب کنید </option>
                    <option value="0"> همه موارد </option>
                </select>
            </div>
        <div class="row">
            <button class="btn btn-warning" type="submit" asp-controller="Storage" asp-action="List"> دسته بندی </button>
        </div>
        </form >
        <div class="row">
            <a class="btn btn-danger" asp-controller="Storage" asp-action="Create">ساخت محصول</a>
        </div>
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-primary">
                <tr>
                    <td>Id</td>
                    <td>name</td>
                    <td>color</td>
                    <td>model</td>
                    <td>brand</td>
                    <td>category</td>
                    <td>Enter time</td>
                    <td>Exit time</td>
                    <td>Action</td>

                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@item.Id</th>
                        <td>@item.Name</td>
                        <td>@item.Color</td>
                        <td>@item.Model</td>
                        <td>@item.Brand</td>
                        <td>@item.Category.Type</td>
                        <td>@item.EnterTime</td>
                         <td>@item.ExitTime</td>
                        <td>
                            <a class="btn btn-danger" asp-controller="Storage" asp-action="Delete" asp-route-Id="@item.Id">حذف</a>
                            <a class="btn btn-danger" asp-controller="Storage" asp-action="Edit" asp-route-Id="@item.Id">ویرایش</a>
                            <a class="btn btn-danger" asp-controller="Storage" asp-action="Sell" asp-route-Id="@item.Id">فروش</a>
                        
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
